/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.fieldset {
    margin: 10px 0;
}

.wrap #pot_upload{
    max-width: 700px;
}

.fieldset label {
    font-size: 14px;
    font-weight: 600;
    width: 50%;
    display: inline-block;
}